.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #d3d3d3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
ul {
    text-align: left;
    padding: 0 20px;
}