:root {
    --primary: #a00000;
    --secondary: #d3d3d3;
    --borderradius: 8px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Navbar START */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}
  
.navbar li {
    float: left;
  }
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    text-decoration: underline;
    background-color: #700000;
}

.navbar .active {
    background-color: rgb(255, 0, 0);
}

#login {
    float: right;
}

/* Navbar END */

/* Header Start */
header {
    background-color: var(--primary);
    color: white;
    padding: 15px;
    font-size: 24px;
}

/* Header END */

/* Content Start */

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--secondary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid var(--primary);
}

/* Content END */