table {
    border: 2px solid  var(--primary);
    border-collapse: collapse;
    width: 100%;
}
    
td {
    border: 1px solid var(--primary);
    padding: 10px;
}   

thead td {
    background-color: var(--primary);
    color: white;
}

td a {
    text-decoration: none;
    color: var(--primary);
    &:hover {
        color: #700000;
    }
}

li {
    text-align: left;
}

li::marker {
    color: var(--primary);
  }